<div class="card">
    <div class="card-content">
        <h1 class="title is-5">Aktuelle Artikel</h1>
        {{ range first 5 (where .Site.RegularPages "Section" "post").ByPublishDate.Reverse }}
            <h1><a href="{{ .Permalink | absURL }}">{{ .Title }}</a></h1>
            <time class="has-text-grey-light is-size-7">{{ .Date.Day }} {{ .Date.Month }} {{ .Date.Year }}</time>
        {{ end }}
    </div>
</div>
    