<div class="card">
    <div class="card-content">
        <h1 class="title is-5">Archiv</h1>
        {{ range (where .Site.RegularPages "Section" "post").GroupByDate "2006" }}
            <a href="{{ "archives" | absURL }}/{{ .Key }}">{{ .Key }}</a> ({{ len .Pages }})<br>
        {{ end }}
    </div>
</div>
